
<body>
    <div class="sec1">
        <div class="contact-d">
            <div class="contact-inf">
            <p><i class="fa fa-phone"></i></p>
            <h6>+91 9307942508 <br>+91 8805107181</h6>
            </div>
            
        </div>
        <div class="main_head">
            <h1>Hii I'm Rohit Galande</h1>
        </div>
        
        <div class="main_wrapper">
            <div class="nav_wrapper">
                <div class="nav_dot">
                    <div class="dots" id="dot1"></div>
                    <div class="dots" id="dot2"></div>
                    <div class="dots" id="dot3"></div>
                </div>
                <div class="nav_links">
                    <ul class="nav_links">
                        <li><a href="#contact_form">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="left_side">
                <img src="imgs/rohit.jpg" alt="" id="profile_pic">
                <h2>Personalised Themes</h2>
                <div class="theme_wrapper">
                    <div data-mode="light" id="light_mode" class="theme_dot"></div>
                    <div data-mode="blue" id="blue_mode" class="theme_dot"></div>
                    <div data-mode="green" id="green_mode" class="theme_dot"></div>
                    <div data-mode="purple" id="purple_mode" class="theme_dot"></div>
                </div>
                <p class="" id="setting_note">*Theme seetting is saved for changing<br>look of website </p>
            </div>
            <div class="right_side">
                <div class="preview_shadow">
                    <div class="preview">
                        <div class="corner" id="corner-tl"></div>
                        <div class="corner" id="corner-tr"></div>
                        <h3>What I Do ?</h3>
                        <p>I am MERN STACK Developer. Now, I am enjoy with developing front end, back end,server side and database.</p>
                        <div class="corner" id="corner-bl"></div>
                        <div class="corner" id="corner-br"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="section">
        <div class="sec3">
            <div class="about_wrapper">
                <div class="more_about">
                    <h2 style="text-align: center;">More About me...</h2>
                    <br><p>I am collage student of SPPU university Pune.I am proficient in Javascript,Node.js,Express.js,HTML,CSS,React.js.Of these programmong languages,I feel most comfortable working with Javascript.</p>
                    <br><p>I worked mainly with javascript and it's frameworks and libraries to create web applications. using javascript I was able to improve my productivity when developing web based applications</p>
                    <button id="submit-btn" type="submit"><a href="/download" class="btn">Download Resume</a></button>
                    <div class="experties">
                        <h3 style="text-align: center;">Top Experties :-</h3>
                        <div class="languages">
                            <ul>
                                <li>HTML 5</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                                <li>Tailwind CSS</li>
                                <li>BootStrap</li>
                            </ul>
                            <ul>
                                <li>Node.js</li>
                                <li>Express.js</li>
                                <li>MongoDB</li>
                                <li>React.js</li>
                                <li>EJS</li>
                            </ul>
                        </div>
                    </div>
                </div>
               
    
                <div class="about_image">
                    <img src="imgs/about.jpg" id="image1">
                    <div class="social">
                        <h4>Find me on :</h4><br>
                         <p>Instagram : <a href="http://www.instagram.com/rohitg__45">@rohitg__45</a></p> 
                        <p>Facebook : <a href="https://www.facebook.com/rohit.galande.1428">rohitgalande123</a></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="sec1">
        <div class="hd">
            <h1 class="heads">Some of my Past<br> Projects</h1>
        </div>
     
        <div class="post_wrapper">
            <div class="post">
                <img src="imgs/saloonshop.png" class="thumbnails">
                <div class="post-preview">
                    <h5 class="post-title"> Hair Saloon Website</h5>
                    <p>Hairsaloon website contains only HTML,CSS and littlebit of Javascript...</p>
                    <a href="https://stylosaloon.herokuapp.com">Read more..</a>
                </div>
            </div>
            <div class="post">
                <img src="imgs/pizzaapp.png" class="thumbnails">
                <div class="post-preview">
                    <h5 class="post-title"> Pizzaorder E-commers Website</h5>
                    <p>pizzaapp project is awesome for me. It is like a online pizza order website.</p>
                    <a href="https://rohitpizzastore.herokuapp.com">Read more..</a>
                </div>
            </div>
            <div class="post">
                <img src="imgs/portfolio.png" class="thumbnails">
                <div class="post-preview">
                    <h5 class="post-title">Portfolio websites</h5>
                    <p>It is my portfolio website Whose you are see.</p>
                    <a href="https://rohitgalande.herokuapp.com">Read more..</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="sec2">
            <div class="contact_form" id="contact_form">
                <h1 style="text-align: center;">Get In Touch</h1>
            
                <form action="/email" method="POST">
                    <label for="name">Name</label>
                    <input name="name" class="input_field" type="text">
                    <label for="name">Email</label>
                    <input name="email" type="email" class="input_field">
                    <label for="name">Phone</label>
                    <input name="phone" type="phone" class="input_field">
                    <label for="name">Message</label>
                    <textarea name="message" class="input_field" cols="5" rows="10"></textarea>
                    <input id="submit-btn" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
